[project]
	description = The library that downloads 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/luski
[access "refs/for/refs/*"]
	read = group user/luski
	push = group user/luski
	label-Code-Review = -2..+2 group user/luski
	label-Verified = -1..+1 group user/luski
	rebase = group user/luski
	removeReviewer = group user/luski
	submit = group user/luski
[access "refs/heads/*"]
	read = group user/luski
	create = group user/luski
	push = +force group user/luski
	pushMerge = group user/luski
[access "refs/tags/*"]
	push = +force group user/luski
	pushTag = group user/luski
	pushSignedTag = group user/luski
